* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: transparent;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: #627480;
}

.calculator {
    background-color: #454d59;
    padding: 20px;
    gap: 20px;
    position: relative;
}

.out {
    width: 250px;
    background-color: #FFF;
    border: 20px #2c3440 solid ;
    position: absolute;
    left: -350px;
    top: 0;
    height: calc(100% - 40px);
    overflow: auto;
    padding: 5px;
}

.inp-nums {
    background-color: #fff;
    width: 100%;
    height: 40px;
}

.inp-nums input {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    font-size: 30px;
    outline: none;
    border: none;
    padding: 5px;
    justify-self: flex-end;
}

.inp-btns {
    background-color: #454d59;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    
}

.inp-btns button {
    font-size: 30px;
    width: 73px;
    height: 70px;
    color: #FFF;
    background-color: #2c3440;
}

.inp-btns .btn-equals {
    background-color: #309c37;
    color: black;
}

.inp-btns .btn-clear {
    background-color: #c75252;
    color: black;
}

.inp-btns .btn-operation {
    background-color: #c97b57;
    color: black;
}



.btn-operation:disabled {
    opacity: .7;
}

.btn-equals:disabled {
    opacity: .7;
}